In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplotli
path='../data/^BSESN.csv'
df = pd.read_csv(path)
df.head(10)

,Date,High,Low,Open,Close,Volume,Adj Close
0,1997-07-01,4301.770020,4247.660156,4263.109863,4300.859863,0.0,4300.859863
1,1997-07-02,4395.310059,4295.399902,4302.959961,4333.899902,0.0,4333.899902
2,1997-07-03,4393.290039,4299.970215,4335.790039,4323.459961,0.0,4323.459961
3,1997-07-04,4347.589844,4300.580078,4332.700195,4323.819824,0.0,4323.819824
4,1997-07-07,4391.009766,4289.490234,4326.810059,4291.450195,0.0,4291.450195
5,1997-07-08,4313.000000,4252.490234,4285.649902,4306.390137,0.0,4306.390137
6,1997-07-09,4404.830078,4315.419922,4315.419922,4404.689941,0.0,4404.689941
7,1997-07-10,4448.060059,4376.109863,4413.390137,4378.370117,0.0,4378.370117
8,1997-07-11,4372.750000,4301.930176,4372.750000,4321.979980,0.0,4321.979980
9,1997-07-14,4251.700195,4182.419922,4251.700195,4225.020020,0.0,4225.020020

In [ ]:
plt.figure(figsize=(8,5))
x_data, y_data = (df["Year"].values, df["Value"].values)
plt.plot(x_data, y_data, 'ro')
plt.ylabel('GDP')
plt.xlabel('Year')
plt.show()

In [5]:
X = np.arange(-5,5.0, 0.1)
Y = 1.0 / (1.0 + np.exp(-X))

plt.plot(X,Y) 
plt.ylabel('Dependent Variable')
plt.xlabel('Indepdendent Variable')
plt.show()

NameError: name 'plt' is not defined

In [ ]:
def sigmoid(x, Beta_1, Beta_2):
     y = 1 / (1 + np.exp(-Beta_1*(x-Beta_2)))
     return y

In [ ]:
beta_1 = 0.10
beta_2 = 1990.0

#logistic function
Y_pred = sigmoid(x_data, beta_1 , beta_2)

#plot initial prediction against datapoints
plt.plot(x_data, Y_pred*15000000000000.)
plt.plot(x_data, y_data, 'ro')

In [ ]:
# Lets normalize our data
xdata =x_data/max(x_data)
ydata =y_data/max(y_data)

In [ ]:
from scipy.optimize import curve_fit
popt, pcov = curve_fit(sigmoid, xdata, ydata)
#print the final parameters
print(" beta_1 = %f, beta_2 = %f" % (popt[0], popt[1]))

In [ ]:
x = np.linspace(1960, 2015, 55)
x = x/max(x)
plt.figure(figsize=(8,5))
y = sigmoid(x, *popt)
plt.plot(xdata, ydata, 'ro', label='data')
plt.plot(x,y, linewidth=3.0, label='fit')
plt.legend(loc='best')
plt.ylabel('GDP')
plt.xlabel('Year')
plt.show()

In [ ]:
# split data into train/test
msk = np.random.rand(len(df)) < 0.8
train_x = xdata[msk]
test_x = xdata[~msk]
train_y = ydata[msk]
test_y = ydata[~msk]

# build the model using train set
popt, pcov = curve_fit(sigmoid, train_x, train_y)

# predict using test set
y_hat = sigmoid(test_x, *popt)

# evaluation
print("Mean absolute error: %.2f" % np.mean(np.absolute(y_hat - test_y)))
print("Residual sum of squares (MSE): %.2f" % np.mean((y_hat - test_y) ** 2))
from sklearn.metrics import r2_score
print("R2-score: %.2f" % r2_score(y_hat , test_y) )