In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.preprocessing import StandardScaler

In [2]:
file_path = 'boston.xls'
df = pd.read_excel(file_path)
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PT,B,LSTAT,MV
0,0.00632,18.0,2.31,0,0.538,6.575,65.199997,4.0900,1,296,15.300000,396.899994,4.98,24.000000
1,0.02731,0.0,7.07,0,0.469,6.421,78.900002,4.9671,2,242,17.799999,396.899994,9.14,21.600000
2,0.02729,0.0,7.07,0,0.469,7.185,61.099998,4.9671,2,242,17.799999,392.829987,4.03,34.700001
3,0.03237,0.0,2.18,0,0.458,6.998,45.799999,6.0622,3,222,18.700001,394.630005,2.94,33.400002
4,0.06905,0.0,2.18,0,0.458,7.147,54.200001,6.0622,3,222,18.700001,396.899994,5.33,36.200001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.099998,2.4786,1,273,21.000000,391.989990,9.67,22.400000
502,0.04527,0.0,11.93,0,0.573,6.120,76.699997,2.2875,1,273,21.000000,396.899994,9.08,20.600000
503,0.06076,0.0,11.93,0,0.573,6.976,91.000000,2.1675,1,273,21.000000,396.899994,5.64,23.900000
504,0.10959,0.0,11.93,0,0.573,6.794,89.300003,2.3889,1,273,21.000000,393.450012,6.48,22.000000
505,0.04741,0.0,11.93,0,0.573,6.030,80.800003,2.5050,1,273,21.000000,396.899994,7.88,11.900000

In [3]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PT,B,LSTAT,MV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674030,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148862,2.105710,8.707259,168.537116,2.164946,91.294863,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377487,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440002,11.360000,21.200001
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.074999,5.188425,24.000000,666.000000,20.200001,396.225006,16.954999,25.000000
max,88.976196,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.899994,37.970001,50.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CRIM    506 non-null    float64
 1   ZN      506 non-null    float64
 2   INDUS   506 non-null    float64
 3   CHAS    506 non-null    int64
 4   NOX     506 non-null    float64
 5   RM      506 non-null    float64
 6   AGE     506 non-null    float64
 7   DIS     506 non-null    float64
 8   RAD     506 non-null    int64
 9   TAX     506 non-null    int64
 10  PT      506 non-null    float64
 11  B       506 non-null    float64
 12  LSTAT   506 non-null    float64
 13  MV      506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [5]:
x = df.iloc[0:,0:13].values
y = df['MV'].values

In [6]:
x

array([[6.32000000e-03, 1.80000000e+01, 2.30999994e+00, ...,
        1.53000002e+01, 3.96899994e+02, 4.98000002e+00],
       [2.73100010e-02, 0.00000000e+00, 7.07000017e+00, ...,
        1.77999992e+01, 3.96899994e+02, 9.14000034e+00],
       [2.72900000e-02, 0.00000000e+00, 7.07000017e+00, ...,
        1.77999992e+01, 3.92829987e+02, 4.03000021e+00],
       ...,
       [6.07599990e-02, 0.00000000e+00, 1.19300003e+01, ...,
        2.10000000e+01, 3.96899994e+02, 5.63999987e+00],
       [1.09590001e-01, 0.00000000e+00, 1.19300003e+01, ...,
        2.10000000e+01, 3.93450012e+02, 6.48000002e+00],
       [4.74100000e-02, 0.00000000e+00, 1.19300003e+01, ...,
        2.10000000e+01, 3.96899994e+02, 7.88000011e+00]])

In [23]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state=42)

In [24]:
model = LinearRegression()

In [25]:
model.fit(x_train, y_train)

LinearRegression()

In [26]:
y_pred = model.predict(x_test)
y_pred[:20]

array([28.64895916, 36.49501322, 15.41119213, 25.40321346, 18.85527915,
       23.14668859, 17.39212432, 14.07859719, 23.0369279 , 20.59943284,
       24.8228625 , 18.53057127, -6.86543563, 21.80172245, 19.22571286,
       26.19191966, 20.27734033,  5.61596472, 40.44888032, 17.57695927])

In [27]:
score = r2_score(y_pred, y_test)

In [28]:
score

0.6693702983692005

### StandardScaler

In [13]:
standard_scaler = StandardScaler()

In [30]:
x_train_scaler = standard_scaler.fit_transform(x_train)
x_test_scaler = standard_scaler.fit_transform(x_test)
print(x_train_scaler[:1])
print()
print(x_test_scaler[:1])

[[-0.41425879 -0.50512499 -1.29214217 -0.28154625 -0.85108478  0.14526359
  -0.36558397  1.08162835 -0.74617905 -1.11279004  0.18727102  0.39651416
  -1.0153161 ]]

[[-0.41814318 -0.45257245 -1.06299569 -0.2508726  -0.34116673  0.34777538
   0.54896942 -0.59172821 -0.54303864 -0.66449292 -1.21298218  0.45712278
  -0.5785895 ]]

In [15]:
model_scaler = LinearRegression()

In [31]:
model_scaler.fit(x_train_scaler, y_train)

LinearRegression()

In [32]:
y_pred_scaler = model_scaler.predict(x_test_scaler)

In [37]:
score_scaler = r2_score(y_pred_scaler, y_test)

0.6455499172780697

In [19]:
score_scaler

0.6673560373805576

#### lasso

In [48]:
print(len(y_predict_scaler),len(y_test))

152 152

In [59]:
lasso = Lasso(alpha = 3)
lasso.fit(x_train_scaler,y_train)
y_predict_scaler = lasso.predict(x_test)
r2_score(y_test, y_predict_scaler)

-11.974492339701197

#### Ridge

In [55]:
ridge = Ridge(alpha = 0.2)
ridge.fit(x_train_scaler,y_train)
pre = ridge.predict(x_test_scaler)
r2_score(y_test,pre)

0.676034094546629