In [1]:
!ls

CAR DETAILS FROM CAR DEKHO.csv regression.ipynb

In [2]:
import pandas as pd

In [3]:
url = r"CAR DETAILS FROM CAR DEKHO.csv"

In [4]:
df = pd.read_csv(url)

In [5]:
df_copy = df.copy()

In [6]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [8]:
df.name.value_counts()

Maruti Swift Dzire VDI                     69
Maruti Alto 800 LXI                        59
Maruti Alto LXi                            47
Maruti Alto LX                             35
Hyundai EON Era Plus                       35
                                           ..
Hyundai Verna Transform CRDi VGT SX ABS     1
Maruti S-Presso VXI Plus                    1
Toyota Etios Liva 1.2 VX                    1
Toyota Yaris G                              1
Hyundai i20 Magna 1.4 CRDi                  1
Name: name, Length: 1491, dtype: int64

In [9]:
df.fuel.value_counts()

Diesel      2153
Petrol      2123
CNG           40
LPG           23
Electric       1
Name: fuel, dtype: int64

In [10]:
df.seller_type.value_counts()

Individual          3244
Dealer               994
Trustmark Dealer     102
Name: seller_type, dtype: int64

In [11]:
df.transmission.value_counts()

Manual       3892
Automatic     448
Name: transmission, dtype: int64

In [12]:
df.owner.value_counts()

First Owner             2832
Second Owner            1106
Third Owner              304
Fourth & Above Owner      81
Test Drive Car            17
Name: owner, dtype: int64

In [13]:
import matplotlib.pyplot as plt

In [14]:
# from matplotlib.ticker import FormatStrFormatter

# fig, ax = plt.subplots()

# ax.yaxis.set_major_formatter(FormatStrFormatter('%.2f'))
# plt.figure(figsize=(8,20))
# plt.scatter(df.year,df.selling_price)

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
label_encoder = LabelEncoder()

In [17]:
df['name'] = label_encoder.fit_transform(df.name)
df['fuel'] = label_encoder.fit_transform(df.fuel)
df['seller_type'] = label_encoder.fit_transform(df.seller_type)
df['transmission'] = label_encoder.fit_transform(df.transmission)
df['owner'] = label_encoder.fit_transform(df.seller_type)

In [18]:
df.head(3)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,775,2007,60000,70000,4,1,1,1
1,1041,2007,135000,50000,4,1,1,1
2,505,2012,600000,100000,1,1,1,1

In [ ]:
df['']

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [20]:
x = df.drop(['selling_price'], axis=1)
x.head(2)

   name  year  km_driven  fuel  seller_type  transmission  owner
0   775  2007      70000     4            1             1      1
1  1041  2007      50000     4            1             1      1

In [21]:
y = df['selling_price']
y.head(2)

0     60000
1    135000
Name: selling_price, dtype: int64

In [22]:
def data_split(x, y):
    return train_test_split(x, y, test_size=0.3, random_state=42)

In [23]:
# x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42) 
x_train, x_test, y_train, y_test = data_split(x, y)

In [24]:
def split_check(*var):
    for i in var:
        print(len(i)," ",end="")
split_check(x_train, x_test, y_train, y_test)

3038  1302  3038  1302

In [25]:
model = LinearRegression()

In [26]:
model.fit(x_train, y_train)

LinearRegression()

In [27]:
y_pred = model.predict(x_test)

In [28]:
from sklearn.metrics import r2_score

In [29]:
r2_score(y_test,y_pred)

0.43729651842704254

In [30]:
from sklearn.linear_model import Ridge, Lasso

In [31]:
ridge = Ridge(alpha=1.2)

In [32]:
ridge.fit(x_train, y_train)
y_pred_ridge = ridge.predict(x_test)
r2_score(y_test,y_pred_ridge)

0.43743110961885867

In [36]:
model.predict([[775,2007,70000,4,1,1,1],[0,2007,70000,4,1,1,1]])

/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([17375.7617733 , 42361.84007928])